#secondary {
    color: #959ba2;
}

#sub-heading {
    font-size: 18px;
}

#h1 {
    font-size: 30px;
}

#h2 {
    font-size: 24px;
}

#card {
    background-color: #14181d;
    width: 400px;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    border: 2px #151f27 solid;
    border-radius: 10px;
}

#fill-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#wallet {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-self: center;
}

#circle {
    background-color: #0be8bd;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
